<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Home User Index</h1>
<form action="/salvarUser" method="post" th:object="${usuarioEdit}">
	<label for="id">Insira o :</label>
	<input type="text" id="id" name="id" th:field="*{id}">
	<label for="nome">Insira o :</label>
	<input type="text" id="nome" name="nome" th:field="*{nome}">
	<label for="sobrenome">Insira o Sobrenome:</label>
	<input type="text" id="sobrenome" name="sobrenome" th:field="*{sobrenome}">
	<button type="submit">Salvar</button>
</form>

<br />
<br />
<form method="post" action="/pesquisaPorNome">
<label for="nomeUsuario">Insira o nome a ser pesquisado: </label>
<input id="nomeUsuario" name="nomeUsuario" type="text" />
<button type="submit">Pesquisar</button>
</form>
<br />
<br />
<table>
<tr th:each="usuario : ${usuarios}">
	<td th:text="${usuario.id}">
	<td th:text="${usuario.nome}">
	<td th:text="${usuario.sobrenome}">
	<td><a th:href="@{/editarUsuario/{idUsuario}(idUsuario=${usuario.id})}">Editar</a></td>
	<td><a th:href="@{/excluirUsuario/{idUsuario}(idUsuario=${usuario.id})}">Excluir</a></td>
</tr>
</table>
</body>
</html>